{% extends 'base.html.twig' %}

{% block title %}AdresseUser index{% endblock %}

{% block body %}
    <h1>AdresseUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>CP</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse_user in adresse_users %}
            <tr>
                <td>{{ adresse_user.id }}</td>
                <td>{{ adresse_user.Type }}</td>
                <td>{{ adresse_user.Nom }}</td>
                <td>{{ adresse_user.Prenom }}</td>
                <td>{{ adresse_user.Tel }}</td>
                <td>{{ adresse_user.Adresse }}</td>
                <td>{{ adresse_user.CP }}</td>
                <td>{{ adresse_user.Ville }}</td>
                <td>{{ adresse_user.Pays }}</td>
                <td>
                    <a href="{{ path('app_adresse_user_show', {'id': adresse_user.id}) }}">show</a>
                    <a href="{{ path('app_adresse_user_edit', {'id': adresse_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresse_user_new') }}">Create new</a>
{% endblock %}
